* { 
    /* padding: 5px; */
    /* margin: 5px; */
    /* border: 1px solid royalblue; */
    
}
body, html, h1, h3 {
    height: 100%;
    margin: 0;
    /* This is temporary */
    font-family: got;
    font-weight: 100;
    color: white;
}
button {
    background-color: rgba(255, 255, 255, 0);
}
ul {
    list-style-type: none;
}
.trivia-text {
    font-family: 'Metamorphous';
}
.layout {
    margin: 5px;
    padding: 5px;
}
/* ------------------------------- */
/* Background image & Font Face */
/* ------------------------------- */
#bg {
    padding: 30px;
    background-image: url(../images/tyrion-interogation.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@font-face {
    font-family: got;
    src: url(../fonts/Game\ of\ Thrones.ttf);
}
/* ------------------------------- */

/* ------------------------------- */
#trivia {
    display: none;
}
#trivia-end {
    display: none;
}